<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" href="/css/regStyle.css">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@300&display=swap" rel="stylesheet">
    </head>


<div class="login-box">
    <h2>Авторизация</h2>
    <form th:action="@{/authReg/auth}" method="post">
        <div class="user-box">
            <input type="text" name="username" required="">
            <label>Имя пользователя</label>
        </div>
        <div class="user-box">
            <input type="password" name="password" required="">
            <label>Пароль</label>
        </div>
        <a>
            <input type="submit" value="Войти" />
        </a>
    </form>
</div>
</html>